.title {
  color: #ffffff;
  font-size: 90px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-family: cursive;
  font-weight: 100px;
  text-align: center;
  padding-bottom: 5px;
}

body {
    background-color: #0a0a23; 
  }
  
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #0a0a23;
    font-style: italic;
    font-size: 14px;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    border-radius: 15px;
  }

  #town {
    height: 50%;
    width: 50%;
    border-radius: 50% 20% / 15% 40%;
    padding-top: 40px;
    padding-left: 300px;
    position: fixed;
  }

  #scroll {
    height: 100%;
    width: 78%;
  }

  /*#scroll {
    height: 200px;
    width: 575px;
    border-radius: 1% 14% / 22% 6%
  }*/