.name {
color: #262a76;
font-family: futura;
font-weight: bold;
font-size: 24px;
}
  
.description {
color: #000000;
font-family: futura;
font-style: italic;
font-size: 16px;
}

.vsc {
  color: #8d6fd1;
font-family: futura;
font-weight: bold;
font-size: 16px;
}

.title {
color: #C83D95;
font-family: futura;
font-style: bold;
font-size: 43px;
}
/*green color: #00A86B*/

._assignment {
color: #3257A8;
font-family: futura;
font-weight: bold;
font-size: 30px;
}

.assignment_ {
color: #3257A8;
font-family: futura;
font-weight: bold;
font-size: 30px;
}